@page
@model HardwareStoreWeb.Pages.Warehouses.IndexModel

@{
	ViewData["Title"] = "Склады";
}

<div class="row mb-3">
	<div class="col d-flex d-sm-flex d-md-flex align-items-center align-items-sm-center align-items-md-center justify-content-xl-start col-auto">
		<h3 class="text-dark mb-0">Склады</h3>
	</div>
	<div class="col d-lg-flex d-xl-flex d-xxl-flex justify-content-lg-end justify-content-xl-end justify-content-xxl-end me-0">
		<form method="post">
			<div>
				<a class="btn btn-dark btn-sm me-2 my-1" role="button" asp-page="/Warehouses/Create">
					<i class="fas fa-plus fa-sm text-white-50"></i>&nbsp; Добавить
				</a>
				<a class="btn btn-dark btn-sm me-2 my-1" role="button" href="#">
					<i class="fas fa-filter fa-sm text-white-50"></i>&nbsp; Фильтр
				</a>
				<button class="btn btn-dark btn-sm ml-2 my-1" type="submit">
					<i class="fas fa-file-export fa-sm text-white-50"></i>&nbsp; Экспорт
				</button>
			</div>
		</form>
	</div>
</div>
<div class="card shadow">
	<div class="card-header py-3">
		<p class="text-dark m-0 fw-bold">Информация о всех складах</p>
	</div>
	<div class="card-body">
		@*		<div class="row">
		<div class="col-md-6 text-nowrap">
		<div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
		<label class="form-label">
		Выбрать&nbsp;&nbsp;
		<select class="d-inline-block form-select form-select-sm">
		<option value="10" selected="">10</option>
		<option value="25">25</option>
		<option value="50">50</option>
		<option value="100">100</option>
		</select>&nbsp;
		</label>
		</div>
		</div>
		<div class="col-md-6">
		<div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Поиск..."></label></div>
		</div>
		</div>*@
		@if (Model.Warehouse.Any())
		{
			<div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
				<table class="table my-0" id="dataTable">
					<thead>
						<tr>
							<th>
								@Html.DisplayNameFor(model => model.Warehouse[0].Id)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.Warehouse[0].City)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.Warehouse[0].Street)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.Warehouse[0].House)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.Warehouse[0].Zip)
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.Warehouse)
						{
							<tr class="align-middle">
								<td>
									@Html.DisplayFor(modelItem => item.Id)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.City)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Street)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.House)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Zip)
								</td>
								<td>
									<a class="btn btn-dark btn-sm me-2 my-1" role="button" asp-page="./Edit" asp-route-id="@item.Id">
										<i class="fas fa-pencil-alt fa-sm text-white-50"></i>&nbsp; Изменить
									</a>
									<a class="btn btn-dark btn-sm me-2 my-1" role="button" asp-page="./Details" asp-route-id="@item.Id">
										<i class="fas fa-info fa-sm text-white-50"></i>&nbsp; Открыть
									</a>
									<a class="btn btn-dark btn-sm me-2 my-1" role="button" asp-page="./Delete" asp-route-id="@item.Id">
										<i class="fas fa-trash-alt fa-sm text-white-50"></i>&nbsp; Удалить
									</a>
								</td>
							</tr>
						}
					</tbody>
					<tfoot>
						<tr>
							<td>
								<strong>@Html.DisplayNameFor(model => model.Warehouse[0].Id)</strong>
							</td>
							<td>
								<strong>@Html.DisplayNameFor(model => model.Warehouse[0].City)</strong>
							</td>
							<td>
								<strong>@Html.DisplayNameFor(model => model.Warehouse[0].Street)</strong>
							</td>
							<td>
								<strong>@Html.DisplayNameFor(model => model.Warehouse[0].House)</strong>
							</td>
							<td>
								<strong>@Html.DisplayNameFor(model => model.Warehouse[0].Zip)</strong>
							</td>
							<td></td>
						</tr>
					</tfoot>
				</table>
			</div>
			<div class="row">
				<div class="col-md-6 align-self-center">
					<p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Показано от @Model.Pagination.StartAt до @Model.Pagination.EndAt из @Model.Pagination.TotalCount</p>
				</div>
				<div class="col-md-6">
					<nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
						<ul class="pagination">
							@if (Model.Pagination.TotalPages > 1)
							{
								@if (Model.Pagination.HasPreviousPage)
								{
									<li class="page-item"><a class="page-link" asp-page="./Index" asp-route-pageNumber="1"><span aria-hidden="true">«</span></a></li>
									<li class="page-item"><a class="page-link" asp-page="./Index" asp-route-pageNumber="@(Model.Pagination.PageNumber - 1)"><span aria-hidden="true">‹</span></a></li>
								}

								@for (int i = 0; i < Model.Pagination.GetRange().Count; i++)
								{
									@if (Model.Pagination.GetRange()[i] == Model.Pagination.PageNumber)
									{
										<li class="page-item disabled"><a class="page-link bg-gray-100" asp-page="./Index" asp-route-pageNumber="@Model.Pagination.GetRange()[i]">@Model.Pagination.GetRange()[i]</a></li>
									}
									else
									{
										<li class="page-item"><a class="page-link" asp-page="./Index" asp-route-pageNumber="@Model.Pagination.GetRange()[i]">@Model.Pagination.GetRange()[i]</a></li>
									}
								}

								@if (Model.Pagination.HasNextPage)
								{
									<li class="page-item"><a class="page-link" asp-page="./Index" asp-route-pageNumber="@(Model.Pagination.PageNumber + 1)"><span aria-hidden="true">›</span></a></li>
									<li class="page-item"><a class="page-link" asp-page="./Index" asp-route-pageNumber="@Model.Pagination.TotalPages"><span aria-hidden="true">»</span></a></li>
								}
							}
						</ul>
					</nav>
				</div>
			</div>
		}
		else
		{
			<p>Склады не найдены.</p>
		}
	</div>
</div>

@*<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Warehouse[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warehouse[0].Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warehouse[0].House)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warehouse[0].Zip)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Warehouse) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.House)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
