@page
@model HardwareStoreWeb.Pages.Supplies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Supply</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supply.SupplyPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supply.SupplyPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supply.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supply.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supply.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supply.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supply.Supplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supply.Supplier.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supply.Component)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supply.Component.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supply.Warehouse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supply.Warehouse.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Supply?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
